<section class="intro">
  <div class="container">
    <img src="{{ '/assets/images/thumbnail/author.png' }}" alt="Profle Pic" style="border-radius: 50%; display: block; margin: auto; border: 1px solid #ddd; padding: 5px; margin-bottom: 25px">
    <p class="lead">Hi, I'm <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>, a <em itemprop="jobTitle">{{ site.author.job }}</em>. <br>
    {{ site.author.bio }} -- <a href="{{ '/about' | prepend: site.author.url }}" target="_blank">about me</a></p>
  </div>
</section>
